.amazon-header {
    height: 70px;
    background-color: #19202a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header-left-section {
    width: 150px;
    display: flex;
    align-items: center;
}

.amazon-logo {
    width: 100px;
    margin-top: 10px;
    cursor: pointer; 
}

.header-middle-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    max-width: 800px;
}

.search-bar {
    flex: 1;
    height: 40px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
}
.search-button {
    background-color: #febd69;
    width: 45px;
    height: 40px;
    border: none;
    border-radius: 0 4px 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    transition: background-color 0.1s;
}
.search-button:hover {
    background-color: #f3a847;
}
.search-icon {
    height: 25px;
}

.header-right-section {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid transparent; 
    color: white;
}
.nav-item:hover {
    border: 1px solid #ffffff; 
    border-radius: 4px;
    cursor: pointer; 
}

.text-line-1 {
    font-size: 14px;
    font-weight: 700;
}
.text-line-2 {
    font-size: 14px;
    font-weight: 700;
}
.cart-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 1px solid transparent;
}
.cart-link:hover {
    border: 1px solid #ffffff; 
    border-radius: 4px;
    cursor: pointer; 
}
.cart-icon{
    width: 38px;
}
.cart-icon-container {
    position: relative; /* This pins the number to the cart icon */
    display: flex;
    align-items: center;
    justify-content: center;

}

.cart-quantity {
    position: static;
    color: #f08804;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.cart-text {
    color: white;
    font-weight: 700;
    margin-top: 10px;
}